h2 {
  color: gray;
}

li {
  color: blue;
  line-height: 1.5;
  font-size: 16pt;
}

main-menu > li {
  font-weight: bold;
}

li.active {
  color: black;
}

li:hover {
  text-decoration: underline;
  cursor: pointer;
}
